
.pie-chart-container {
  width: 300px;
  margin: 0;
  position: absolute;
  top: 180px;
  right: 30px; 
}

.pie-chart-title {
  color: #1e90ff; 
  text-align: center; 
  padding-bottom: 10px;
  border-bottom: 1px solid #bbb;
  margin-bottom: 20px;
}
