/* components/PieChart.css */
.pie-chart-container {
    width: 300px;
    margin: auto;
  }
  
  .pie-chart-title {
    color: #1e90ff; /* Blue color */
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #bbb;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    left: -50%;
    transform: translateX(50%);
  
  }